<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "Simulasi Optik" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="/">Beranda</a>
        <a href="/refleksi">Simulasi Refleksi</a>
        <a href="/pembiasaan">Simulasi Pembiasaan</a>
        <a href="/polarisasi">Simulasi Polarisasi</a>
        <a href="/material">Database Material</a>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
